@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --chocolate: #df8646;
    --white: #fafafa;
    --font-family: 'Montserrat', sans-serif;
    
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    height: 80px;
    background-color: var(--chocolate);
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo img {
    width: 100%;
    max-width: 150px;
    min-width: 65px;
    max-height: 55px;
}

.menu{

}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul li{
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-family);
}